.container {
  display: flex;
  width: 131px;
  border: 1px solid black;
  color: blue;
  height: 36px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.container:active {
  transform: scale(0.97);
}
.nav {
  display: flex;
  background-color: black;
  height: 45px;
  justify-content: space-around;
  font-size: 25px;
}
